# ignore imgs of IVcurves
data/**/*.png
data/**/*.pdf
data/**/*.svg

# ignore cache
__pycache__

# ignore Python build artifacts
*.egg-info/
dist/
build/
*.pyc
*.pyo


FOLDERINFO.md
*.pth
*.pt
*.pdf
*.png

results/
data/*
checkpoints/
